body{
    background: linear-gradient(180deg, #c4b6fd, #93acfc);
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* body{
    background-color: #212529;
} */

.para{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

/* hr{
    color: #ffffff;
} */

h1, h2{
    /* color: white; */
    margin-left: 5%;
    margin-right: 5%;
}

/* Code Block starts */

.code-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    /* background-color: #f4f4f4; */
    background-color: #1e1e1e;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    overflow-x: auto;
    border-radius: 15px;
}

pre {
    margin: 0;
    font-size: 16px;
    font-family: "Courier New", monospace;
    color: #dcdcdc;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

/* Code Block ends  */