body{
    background: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.para{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}